.form-profile{
  min-width: 450px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: #6186ab;
  padding: 25px;
}

.name-content-profile{
  font-size: 45px;
  margin-top: 10px;
}
.name-email-profile{
  font-size: 30px;
  text-align: left;
}

.btn-profile-together{
  color: white; 
  border: none; 
  padding: 10px 20px;
  text-align: center; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px;
  margin: 10px;
  margin-top: 15px;
}
.btn-edit-profile{
  background-color: #29704e; 
  float: left;
}
.btn-edit-profile:hover{
  background-color: #20593e;
}
.btn-sign-out-profile{
  background-color: #793c5a; 
  float: right;
}
.btn-sign-out-profile:hover{
  background-color: #603048;
}
.btn-go-to-home{
  background-color: #D93384; 
  float: right;
}