.main-content{
  background-color: #ffffff;
  height: auto;
  width: 100%; 
  min-height: 420px;
  display: flex;
  flex-direction: row;
}


.filters {
  background-color: #D9D9D9;
  border-radius: 15px;
  min-width: 220px;
  padding: 10px;
}
.filters div{
  margin-left: 10px;
}
.filters select {
  padding: 5px; 
  border: none; 
  outline: none; 
}
.filters input[type="text"],
.filters select {
  width: 190px; 
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
}


/* .container-search-filter{
  display: flex;
  flex-direction: column;
}
.search-bar-filter {
  margin: 15px;
  width: 26cm;
  padding: 7px;
}
.search-bar input[type="text"],
.search-bar button {
  padding: 8px;
  border-radius: 25px;
  outline: none;
  width: 100px;
  box-sizing: border-box;

}
/* .filters {
  background-color: #D9D9D9;
  border-radius: 25px;
  min-width: 220px;
  padding: 10px;
} */
/* .filters input[type="text"],
.filters select {
  width: 190px; 
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
} */
/* .search-bar button {
  padding: 8px 15px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}
 */ 

