.form-home-filter {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 1300px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #ffff;
}
.header-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #426f6f;
  border-radius: 7px 7px 7px 0;
  color: rgb(250, 255, 250);
}
.navbar li{
  margin: 10px;
  border-radius: 5px;
  background-color: #2f4f4f;
  box-shadow: 0px 0px 36px 17px rgba(31, 41, 41, 0.2);
}
.auth-lang-selector {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
.auth-lang-selector li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  
}
.navbar li :hover {
  border-radius: 5px;
  background-color: #1c2f2f;
}
.nav-bar-auth li{
  background-color: #2e4f3f;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 36px 17px rgba(31, 41, 41, 0.2);
}
.nav-bar-auth li :hover{
  border-radius: 5px;
  background-color: #243f32;
}
.lang-switch-btn{
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: medium;
  padding: 8px 16px;
}
.lang-switch-btn img{
  position: absolute;
  top: -8px;
  right: 16px;
  height: 25px;
  border-radius: 100%;
}


.main-content{
  height: auto;
  width: 100%; 
  min-height: 420px;
  display: flex;
  flex-direction: row;
}
.filters {
  background-color: #b4d0d0;;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.filters input[type="text"],
.filters select {
  width: 190px; 
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
  padding: 5px; 
  border: none; 
  outline: none; 
  background-color: #eeffff;
  border-radius: 5px;
}


.container-search-filter{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px;
}

.search-bar-filter {
  width: 27.7cm;
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar-filter input[type="text"]{
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #4f2f4f;
  border-radius: 5px 0 0 5px;
  outline: none;
  background: #faebfa;
  font-size: 19px;
  border-right: none;
}

.search-bar-filter button {
  width: 100px;
  height: 47.9px;
  border: none;
  background: #4f2f4f;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: rgb(250, 255, 250);
}

.search-bar-filter button:hover,
.search-bar-filter button:focus {
  background-color: #3f253f;
}