body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  background-image: url("../images/background-img.png");
  background-repeat: repeat;
  background-size: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
 }
 
 form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
 }
 

 .form-registration-login-profile{
  width: 480px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, .2);
  padding: 30px;
 }


 label {
  display: block;
  margin-bottom: 10px;
 }
 
 .input-auth {
  width: 95.5%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
 }
 
.button-auth {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }
 
.button-auth:hover {
  background-color: #45a049;
 }
 
 
 a:hover {
  color: #0056b3;
 }
 .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200vh;
  width: 100%;
  background-color: rgb(85, 46, 46);
}
.password_input_container{
  position: relative;
}
.password_eye {
  position: absolute;
  width: 23px;
  height: 40px;
  right: 8px;
  top: 0px;
}
.nav-page{    
  font-size: 20px;    
  display: flex;
  align-items: left;
  justify-content: right;
  color: #45a049;
  text-decoration: underline;
  margin: 0px;
}
.login-question{
  font-size: 16px;  
  margin-top: 15px; 
  display: flex;
  justify-content: right;
  align-items: center;
}

