.container-announce {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.container-announce .block {
  display: flex;
  align-items: flex-start;
}

.container-announce .block img {
  width: 200px;
  margin-right: 20px;
}

.container-announce .block .text-container {
  display: flex;
  flex-direction: column;
}

.container-announce .block .text-container h2 {
  margin-bottom: 10px;
}

.container-announce .block .text-container p {
  margin-bottom: 5px;
}

.container-announce .block .text-container a {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
}
