.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #575757;
  border-radius: 7px;
  color: white;
}

.form-home {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 1300px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.main-content {
  background-color: #b6ad99;
  display: flex; /* Изменение на flex для выравнивания блоков */
  justify-content: space-between; /* Равное расстояние между блоками */
  align-items: flex-start; /* Выравнивание элементов по верхнему краю */
  padding: 20px; /* Придаем отступы для контейнера .main-content */

}




.search-bar {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 15px 15px;
  width: 23.4cm;
  float: left;
  display: flex;
}


.search-bar input[type="text"] {
  flex: 1; /* Расширение строки поиска по всей доступной ширине */
  padding: 8px;
  border-radius: 25px;
  outline: none;
  margin-right: 10px; /* Отступ между строкой поиска и кнопками */
}

.search-bar button {
  padding: 8px 15px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 10px; /* Отступ между кнопками */
  
}



.filters {
  flex-direction: column;
  background-color: #d9d9d9;
  margin: 15px;
  border-radius: 25px;
  float: right;
  min-width: 250px;
  padding: 20px; /* Добавлены отступы внутри блока фильтров */
}

.filters div {
  margin-bottom: 15px; /* Отступ между элементами фильтров */
}

.filters label {
  display: block;
  margin-bottom: 5px;
}

.filters input[type="text"],
.filters select {
  width: calc(100% - 20px); /* Учитываем внутренние отступы для текстовых полей */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filters select {
  padding: 8px 5px; /* Коррекция отступов для выпадающего списка */
}



.popular-offers{
  background-color: aqua;
}


